@import './_variables';
.title {
	text-align: center;
}

.formWrapper {
	display: flex;
	justify-content: center;
}
.form {
	display: flex;
	gap: 10px;
	input {
		border-radius: 4px;
		padding: 2px 5px;
		box-shadow: $defaultShadow;
		border: none;
	}
}

.postCard {
	list-style: none;
	border-radius: 8px;
	box-shadow: $defaultShadow;
	border: 2px solid black;
	padding: 10px 15px;
}
.list {
	padding: 0 10px;
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	// grid-template-columns: 1fr 2fr 1fr; //4
}
button {
	box-shadow: $defaultShadow;
	background-color: $mainColor;
	color: white;
	font-size: 1.5rem;
	border-radius: 4px;
	border: none;
	&.loadBtn {
		margin: 0 auto;
		display: block;
		padding: 10px;
	}
}
