.title{
  text-align: center;
}
.avatarWrapper {
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid rgb(3, 241, 153);
}
.avatar{
  width: 100%;
  cursor: pointer;
  transition: transform .5s ease ;
  &:hover{
    transform: scale(1.1);
  }
}
.userCard{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  height: 700px;
  border: 1px solid black;
  padding: 10px 10px;
}
.userInfo{
  font-weight: 700;
}
.textRed{
  color:red;
  background-color: lightgray;
}
.textGreen{
  color:green;
  background-color: lightgray;
}