.title{
  color: violet;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}
.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:10px;
  margin:  0 auto;
  padding: 0;
  width: 80vw;
}
.item{
  border: 2px solid black;
  box-shadow: 4px 4px 2px 1px black;
  border-radius: 8px;
  padding: 10px 15px;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button{
    padding: 4px 14px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: blue;
    color:white;
    border: none;
    transition: all .4s ease-in ;
    &:hover{
      cursor: pointer;
      background-color: black;
      color:red;
    }
    &:disabled{
      background-color: red;
    }
  }

  &:hover{
    background-color: lightcyan;
    cursor: pointer;
  }
}
/* .item:hover{
  background-color: lightcyan;
  cursor: pointer;
} */
/* .item:hover{
  background-color: lightcyan;
  cursor: pointer;
} *//* .item:hover{
  background-color: lightcyan;
  cursor: pointer;
} *//* .item:hover{
  background-color: lightcyan;
  cursor: pointer;
} */

