.title{
  text-align: center;
	margin-bottom: 30px;
	color: white;
	text-decoration: underline;
}
.form{
	font-size: calc((1vh + 1vw));
	border: 3px solid lightblue;
	background-color: #71b4f7;
  display: grid;
  gap:4px;
	box-shadow: 3px 4px 7px 3px lightgray;
	width: calc((10vh + 20vw) * 1.2);
	padding: 40px 20px;
	border-radius: 12px;
  label{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
  }
  input{
    padding: 5px 10px;
    font-size: calc((1vh + 1vw) * 1.2);
    background-color: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid;
  }
}

.btn {
  padding: 10px 42px;
	border-radius: 4px;
	border: none;
	font-size: 1rem;
  width: fit-content;
  margin: 0 auto;
	background-color: white;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: #091ec2;
		color: white;
	}
}
.flex{
  display: flex;
	gap: 20px;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}
